<section class="gh-view">
    <header class="view-header">
        {{#gh-view-title openMobileMenu="openMobileMenu"}}<span>属性配置</span>{{/gh-view-title}}
        <section class="view-actions">
            {{#gh-spin-button class="btn btn-blue" action="save" submitting=submitting}}保存{{/gh-spin-button}}
        </section>
    </header>

    <section class="view-content">
        <form id="settings-general" novalidate="novalidate">
            <fieldset>

                {{#gh-form-group errors=model.errors hasValidated=model.hasValidated property="title"}}
                    <label for="blog-title">博客标题</label>
                    {{gh-input model.title id="blog-title" name="general[title]" type="text" focusOut=(action "validate" "title" target=model) update=(action (mut model.title))}}
                    {{gh-error-message errors=model.errors property="title"}}
                    <p>您的博客名称</p>
                {{/gh-form-group}}

                {{#gh-form-group errors=model.errors hasValidated=model.hasValidated property="description" class="description-container"}}
                    <label for="blog-description">博客说明</label>
                    {{gh-textarea model.description id="blog-description" name="general[description]" focusOut=(action "validate" "description" target=model) update=(action (mut model.description))}}
                    {{gh-error-message errors=model.errors property="description"}}
                    <p>
                        描述你的博客是什么
                        {{gh-count-characters model.description}}
                    </p>
                {{/gh-form-group}}
            </fieldset>

            <div class="form-group">
                <label>博客 Logo</label>
                {{#if model.logo}}
                    <img class="blog-logo" src="{{model.logo}}" alt="logo" role="button" {{action "toggleUploadLogoModal"}}>
                {{else}}
                    <button type="button" class="btn btn-green js-modal-logo" {{action "toggleUploadLogoModal"}}>上传图片</button>
                {{/if}}
                <p>显示出版物的徽标</p>

                {{#if showUploadLogoModal}}
                    {{gh-fullscreen-modal "upload-image"
                            model=(hash model=model imageProperty="logo")
                            close=(action "toggleUploadLogoModal")
                            modifier="action wide"}}
                {{/if}}
            </div>

            <div class="form-group">
                <label>博客封面</label>
                {{#if model.cover}}
                    <img class="blog-cover" src="{{model.cover}}" alt="cover photo" role="button" {{action "toggleUploadCoverModal"}}>
                {{else}}
                    <button type="button" class="btn btn-green js-modal-cover" {{action "toggleUploadCoverModal"}}>上传图片</button>
                {{/if}}
                <p>在您的网站上显示封面图片</p>

                {{#if showUploadCoverModal}}
                    {{gh-fullscreen-modal "upload-image"
                            model=(hash model=model imageProperty="cover")
                            close=(action "toggleUploadCoverModal")
                            modifier="action wide"}}
                {{/if}}
            </div>

            <div class="form-group">
                <label>公众号微信二维码</label>
                {{#if model.weixin}}
                    <img class="blog-weixin" src="{{model.weixin}}" alt="weixin photo" role="button" {{action "toggleUploadWeixinModal"}}>
                {{else}}
                    <button type="button" class="btn btn-green js-modal-weixin" {{action "toggleUploadWeixinModal"}}>上传图片</button>
                {{/if}}
                <p>在您的网站上显示公众号微信图片</p>

                {{#if showUploadWeixinModal}}
                    {{gh-fullscreen-modal "upload-image"
                            model=(hash model=model imageProperty="weixin")
                            close=(action "toggleUploadWeixinModal")
                            modifier="action wide"}}
                {{/if}}
            </div>


            <fieldset>

                <div class="form-group">
                    {{#gh-form-group errors=model.errors hasValidated=model.hasValidated property="postsPerPage"}}
                        <label for="postsPerPage">每页帖子</label>
                        {{! `pattern` brings up numeric keypad allowing any number of digits}}
                        {{gh-input model.postsPerPage id="postsPerPage" name="general[postsPerPage]" focusOut=(action "validate" "postsPerPage" target=model) min="1" max="1000" type="number" pattern="[0-9]*" update=(action (mut model.postsPerPage))}}
                        {{gh-error-message errors=model.errors property="postsPerPage"}}
                        <p>每页上应显示多少帖子</p>
                    {{/gh-form-group}}
                </div>

                <div class="form-group for-checkbox">
                    <label for="permalinks">日期链接</label>
                    <label class="checkbox" for="permalinks">
                        {{one-way-checkbox isDatedPermalinks id="permalinks" class="gh-input" name="general[permalinks]" update=(action (mut isDatedPermalinks))}}
                        <span class="input-toggle-component"></span>
                        <p>在您的文章网址中加入日期</p>
                    </label>
                </div>

                <div class="form-group">
                    {{#gh-form-group errors=model.errors hasValidated=model.hasValidated property="facebook"}}
                        <label for="facebook">Facebook Page</label>
                        <input value={{model.facebook}} oninput={{action (mut _scratchFacebook) value="target.value"}} {{action "validateFacebookUrl" on="focusOut"}} type="url" class="gh-input" id="facebook" name="general[facebook]"  placeholder="https://www.facebook.com/ghost" autocorrect="off" />
                        {{gh-error-message errors=model.errors property="facebook"}}
                      <p>您博客的Facebook页面的URL</p>
                    {{/gh-form-group}}
                </div>
                <div class="form-group">
                    {{#gh-form-group errors=model.errors hasValidated=model.hasValidated property="twitter"}}
                        <label for="twitter">Twitter Profile</label>
                        <input value={{model.twitter}} oninput={{action (mut _scratchTwitter) value="target.value"}} {{action "validateTwitterUrl" on="focusOut"}} type="url" class="gh-input" id="facebook" name="general[twitter]"  placeholder="https://twitter.com/tryghost" autocorrect="off" />
                        {{gh-error-message errors=model.errors property="twitter"}}
                        <p>您的博客的Twitter个人资料的网址</p>
                    {{/gh-form-group}}
                </div>

                <div class="form-group">
                    {{#gh-form-group errors=model.errors hasValidated=model.hasValidated property="weibo"}}
                        <label for="weibo">微博</label>
                        <input value={{model.weibo}} oninput={{action (mut _scratchWeibo) value="target.value"}} {{action "validateWeiboUrl" on="focusOut"}} type="url" class="gh-input" id="weibo" name="general[weibo]"  placeholder="https://www.weibo.com/pollbox" autocorrect="off" />
                        {{gh-error-message errors=model.errors property="weibo"}}
                      <p>您博客的微博页面的URL</p>
                    {{/gh-form-group}}
                </div>

                {{gh-timezone-select
                        activeTimezone=model.activeTimezone
                        availableTimezones=availableTimezones
                        update=(action "setTimezone")}}

                <div class="form-group for-checkbox">
                    <label for="isPrivate">生成私有博客</label>
                    <label class="checkbox" for="isPrivate">
                        {{one-way-checkbox model.isPrivate id="isPrivate" name="general[isPrivate]" type="checkbox" update=(action (mut model.isPrivate))}}
                        <span class="input-toggle-component"></span>
                        <p>启用密码保护</p>
                    </label>
                </div>

                {{#if model.isPrivate}}
                    {{#gh-form-group errors=model.errors hasValidated=model.hasValidated property="password"}}
                        {{gh-input model.password name="general[password]" type="text" focusOut=(action "validate" "password" target=model) update=(action (mut model.password))}}
                        {{gh-error-message errors=model.errors property="password"}}
                        <p>访问您的博客将需要此密码。 所有搜索引擎优化和社交功能现已停用。 该密码以明文形式存储.</p>
                    {{/gh-form-group}}
                {{/if}}
            </fieldset>

            <div class="settings-themes">
                <h3 id="themes">主题</h3>

                {{gh-theme-table
                        availableThemes=model.availableThemes
                        activateTheme=(action "setTheme")
                        downloadTheme=(action "downloadTheme")
                        deleteTheme=(action "deleteTheme")}}

                <div class="form-group">
                    {{#link-to "settings.general.uploadtheme" class="btn btn-green"}}
                        上传主题
                    {{/link-to}}
                </div>

                {{#if showDeleteThemeModal}}
                    {{gh-fullscreen-modal "delete-theme"
                            model=(hash
                                theme=themeToDelete
                                download=(action "downloadTheme" themeToDelete)
                            )
                            close=(action "hideDeleteThemeModal")
                            confirm=(action "deleteTheme")
                            modifier="action wide"}}
                {{/if}}
            </div>
        </form>
    </section>
</section>

{{outlet}}
