<header class="modal-header">
    <h1>您确定要删除此标记?</h1>
</header>
<a class="close icon-x" href="" title="Close" {{action "closeModal"}}><span class="hidden">关闭</span></a>

<div class="modal-body">
    <strong>警告:</strong>
    {{#if tag.post_count}}
        <span class="red">此标签已附加到 {{tag.count.posts}} {{postInflection}}.</span>
    {{/if}}
    您即将删除 "<strong>{{tag.name}}</strong>". 这是永久的！ 没有备份，没有恢复，没有魔法恢复按钮。 我们警告你，好吗?
</div>

<div class="modal-footer">
    <button {{action "closeModal"}} class="btn btn-default btn-minor">取消</button>
    {{#gh-spin-button action="confirm" class="btn btn-red" submitting=submitting}}删除{{/gh-spin-button}}
</div>
