<header class="modal-header">
    <h1>
        {{#if response}}
            导入成功
        {{else}}
            导入订阅者
        {{/if}}
    </h1>
</header>
<a class="close icon-x" href="" title="Close" {{action "closeModal"}}><span class="hidden">Close</span></a>

<div class="modal-body">
    {{#liquid-if response class="fade-transition"}}
        <table class="subscribers-import-results">
            <tr>
                <td>导入:</td>
                <td align="left">{{response.imported}}</td>
            </tr>
            {{#if response.duplicates}}
                <tr>
                    <td>Duplicates:</td>
                    <td align="left">{{response.duplicates}}</td>
                </tr>
            {{/if}}
            {{#if response.invalid}}
                <tr>
                    <td>无效:</td>
                    <td align="left">{{response.invalid}}</td>
                </tr>
            {{/if}}
        </table>
    {{else}}
        {{gh-file-uploader
            url=uploadUrl
            paramName="subscribersfile"
            labelText="选择或拖放CSV文件."
            uploadStarted=(action "uploadStarted")
            uploadFinished=(action "uploadFinished")
            uploadSuccess=(action "uploadSuccess")}}
    {{/liquid-if}}
</div>

<div class="modal-footer">
    <button {{action "closeModal"}} disabled={{closeDisabled}} class="btn btn-default btn-minor">
        {{#if response}}关闭{{else}}取消{{/if}}
    </button>
</div>
