<header class="modal-header">
    <h1>请重新验证</h1>
</header>
<a class="close icon-x" href="" title="Close" {{action "closeModal"}}><span class="hidden">关闭</span></a>

<div class="modal-body {{if authenticationError 'error'}}">
    <form id="login" class="login-form" method="post" novalidate="novalidate" {{action "confirm" on="submit"}}>
        {{#gh-validation-status-container class="password-wrap" errors=errors property="password" hasValidated=hasValidated}}
            {{gh-input password class="password" type="password" placeholder="Password" name="password" update=(action (mut password))}}
        {{/gh-validation-status-container}}
        {{#gh-spin-button class="btn btn-blue" type="submit" submitting=submitting}}登录{{/gh-spin-button}}
   </form>
   {{#if authenticationError}}
     <p class="response">{{authenticationError}}</p>
   {{/if}}
</div>
