<header>
    <h1>创建您的帐户</h1>
</header>

<form id="setup" class="gh-flow-create">
    {{!-- Horrible hack to prevent Chrome from incorrectly auto-filling inputs --}}
    <input style="display:none;" type="text" name="fakeusernameremembered"/>
    <input style="display:none;" type="password" name="fakepasswordremembered"/>

    {{gh-profile-image fileStorage=config.fileStorage email=email setImage="setImage"}}
    {{#gh-form-group errors=errors hasValidated=hasValidated property="email"}}
        <label for="email-address">电子邮件地址</label>
        <span class="input-icon icon-mail">
            {{gh-trim-focus-input email tabindex="1" type="email" name="email" placeholder="如: john@example.com" autocorrect="off" focusOut=(action "preValidate" "email") update=(action (mut email))}}
        </span>
        {{gh-error-message errors=errors property="email"}}
    {{/gh-form-group}}
    {{#gh-form-group errors=errors hasValidated=hasValidated property="name"}}
        <label for="full-name">全名</label>
        <span class="input-icon icon-user">
            {{gh-input name tabindex="2" type="text" name="name" placeholder="如: John H. Watson"  autocorrect="off" focusOut=(action "preValidate" "name") update=(action (mut name))}}
        </span>
        {{gh-error-message errors=errors property="name"}}
    {{/gh-form-group}}
    {{#gh-form-group errors=errors hasValidated=hasValidated property="password"}}
        <label for="password">密码</label>
        <span class="input-icon icon-lock">
            {{gh-input password tabindex="3" type="password" name="password" placeholder="至少8个字符" autocorrect="off" focusOut=(action "preValidate" "password") update=(action (mut password))}}
        </span>
        {{gh-error-message errors=errors property="password"}}
    {{/gh-form-group}}
    {{#gh-form-group errors=errors hasValidated=hasValidated property="blogTitle"}}
        <label for="blog-title">博客标题</label>
        <span class="input-icon icon-content">
            {{gh-input blogTitle tabindex="4" type="text" name="blog-title" placeholder="如: 每日真棒" autocorrect="off" focusOut=(action "preValidate" "blogTitle") update=(action (mut blogTitle))}}
        </span>
        {{gh-error-message errors=errors property="blogTitle"}}
    {{/gh-form-group}}
    {{#gh-spin-button type="submit" tabindex="5" class="btn btn-green btn-lg btn-block" action="setup" submitting=submitting autoWidth="false"}}
        最后一步：邀请您的团队 <i class="icon-chevron"></i>
    {{/gh-spin-button}}
</form>

<p class="main-error">{{{flowErrors}}}</p>
